:root{
    --main-color: #F82102;
    --secondary-color: #FFB52F
}

.bg-main{
    background-color: var(--main-color)!important;
}
.text-main{
    color: var(--main-color)!important;
}
.text-secondary{
    color: var(--secondary-color)!important;
}

.single-slider{
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.product-item-dec{
    color: var(--secondary-color)!important;
}
.shopping-cart-title{
    color: yellow!important;
}

.main-menu > nav > ul > li > a{
    color: #fff!important;
}
.main-menu a:hover{
    color: var(--secondary-color)!important;
}

.product-img{
    overflow: hidden;
}
/* .product-img img{
    transition: all linear 0.2s;
}
.product-img:hover img{
    transform: scale(1.1);
} */
.cr-btn{
    border: none;
}
.cr-btn:hover{
    background-color: var(--main-color);
}
.custom-radio{
    height: 20px;
    width: 20px;
    margin-top: 0px;
    margin-left: 0px;
}
.breadcrumb-area{
    background-color: red;
    background-size: 100% 100%;
    height: 700px;
}

.product-wrapper{
    transition: all ease-in-out 0.3s;
}

.product-wrapper:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px #ccc;
}

.product-content{
    height: 150px;
}

table .product-thumbnail img{
    width: 120px;
}

.slider-social ul li.youtube a:hover {
    border: 2px solid #FF0000;
    color: #fff;
    background-color: #FF0000;
}

.main-menu nav ul li.active > a,
.stick .main-menu nav ul li.active > a {
    color: var(--secondary-color)!important;
}

.slider-area .single-slider{
    height: 700px;
}

div.mobile-menu > nav > ul > li.active > a{
    color: var(--main-color)!important;
}

#scrollUp{
    z-index: 10000!important;
}

/* .fullscreen{
    width: 100vw;
    height: 100vh;
    z-index: 20000;
    background-color: #CCCCCC;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
} */

.show{
    display: block;
}

.hide{
    display: none;
}


@media(max-width: 1200px){
    .breadcrumb-area{
        height: 600px;
    }
   
    .slider-area .single-slider{
        height: 600px;
    }
    table .product-thumbnail img{
        width: 100px;
    }
    .product-content{
        height: 100px;
    }
    .product-content h5{
        font-size: 1.2em!important;
    }
    .product-content .product-price, .product-content .product-price span{
        font-size: 1em;
    }
}

@media(max-width: 900px){
    .breadcrumb-area{
        height: 400px;
    }
    .slider-area .single-slider{
        height: 400px;
    }
    .breadcrumb-content{
        /* position: static; */
        margin-top: -100px;
    }
    table .product-thumbnail img{
        width: 80px;
    }
    table .product-name a{
        font-size: 0.9em!important;
    }
    .product-content{
        height: 100px;
    }
    .product-content h5{
        font-size: 1em!important;
    }
    .product-content .product-price, .product-content .product-price span{
        font-size: 1em;
    }
    .shop-wrapper{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width: 600px){
    .breadcrumb-area{
        height: 200px;
    }
    .breadcrumb-content{
        position: static;
        margin-top: -100px;
    }
    .slider-area .single-slider{
        height: 200px;
    }
    table .product-thumbnail img{
        width: 60px;
    }
    .product-content{
        height: 80px;
    }
    .product-content h5{
        font-size: 1em!important;
    }
    .product-content .product-price, .product-content .product-price span{
        font-size: 1em;
    }
}




#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; 
  z-index: 20000;
  background-color: #ccc;
}

#ftco-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

  @-webkit-keyframes loader-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  
  @keyframes loader-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  
  @-webkit-keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0; }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px; }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px; } }
  
  @keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0; }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px; }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px; } }
  .active-paging {
    background-color: #f1b8c4;
    color: white !important;
    font-weight: bold;
  }